<!doctype html>
<html>
  <head>
    <title>Profile</title>
    <link rel="stylesheet"
      href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet"
      href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

    <link rel="stylesheet" href="css/profile.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  </head>
  <body>
    <div class="container">

      <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <!-- <h3>Messages</h3> -->
          <ul class="messages">
           
              <li class="message">
                <span><%= user.local.name %></span>
                <span><%= user.local.allergies %></span>
                <span><%= user.local.familySize %></span>
                <% for(let i =0; i < user.local.children.length; i++){ %>
                  <span><%= user.local.children[i].name %></span>
                  <span><%= user.local.children[i].age %></span>
                  <span><%= user.local.children[i].gender %></span>
                  <span><%= user.local.children[i].medications %></span>
                <% } %>
                


                  <div class="wellimg">
                    <form action="/uploadPhoto" method="POST"
                      enctype="multipart/form-data">
                      <input type="file" required name="photo" id="file"
                        class="inputfile" />
                      <input hidden name="id" value="<%= user._id %>"></input>
                    <label for="file"></label>
                    <button type="submit">Upload</button>
                    </form>
       
                    <% if (user.photo) { %>
                    <img src="<%= user.photo %>" alt="Uploaded photo"
                      width="100px" height="auto">
                    <% } %>
                </div>
            </li>
            

             
          </ul>
        </div>
            
      </div>

      <div></div>
<label>Select your Household size</label>
         

     

          <label>Specify Allergies</label>
          <select>
            <option></option>
            <option>Egg</option>
            <option>Fish</option>
            <option>Nuts</option>
            <option>Dairy</option>
           <option>Milk</option>
           <option>Soybeans</option>
           <option>Dogs</option>
           <option>Cats</option>
          
          </select>






        </div>
      </div>
    </body>
    <script src="js/main.js"></script>

  </body>
</html>
