<!doctype html>
<html>
  <head>
    <title>Profile</title>
   
    <link rel="stylesheet"
      href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet"
      href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/profile.css">		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  </head>
  <body>
    
		<header>


        <section class="headernav">
        <div class="back">
          <a onclick="goBack()" href="javascript:void(0);" class="btn btn-default btn-sm" id="btn-sm">Go Back</a>
          </div>
          <div class="out">
            <a href="/logout" class="btn btn-default btn-sm" id="btn-sm">Logout</a>
            <button class="delete">Delete Account</button>

        </div>
   
        </section>

		</header>
    <main>
      <h1 id="h1">Welcome to your Profile Page!</h1>
  <section class="top">
    <section class="userbio">
          <div class="row">
            <div class="parent col-sm-6">
        

         
              <ul class="messages">
               <li class="message">
                 <section class="user user-section">
            
                  <span class="editable name" data-id="<%= user._id %>"
                      data-field="name">
                    <i class="fa fa-edit edit-icon"
                      data-id="<%= user._id %>"
                      data-field="name" aria-hidden="true"></i>
                    <%= user.local.name %></span>


                  <label>Family Size:</label>
                    <span class="editable user" data-id="<%= user._id %>"
                      data-field="familySize">
                    <i class="fa fa-edit edit-icon"
                      data-id="<%= user._id %>"
                      data-field="familySize" aria-hidden="true"></i>
                      <%= user.local.familySize %></span>

                   
                 <!-- <label>Location:</label>
                      <span class="editable location" data-id="<%= user._id %>"
                        data-field="location">
                      <i class="fa fa-edit edit-icon"
                        data-id="<%= user._id %>"
                        data-field="location" aria-hidden="true"></i>
                      <%= user.local.location %></span>
                    -->
                   
                   <label>Age:</label>
                      <span class="editable dob" data-id="<%= user._id %>"
                        data-field="dob">
                      <i class="fa fa-edit edit-icon"
                        data-id="<%= user._id %>"
                        data-field="dob" aria-hidden="true"></i>
                        <%= Math.floor((new Date() - new Date(user.local.dob)) / (1000 * 60 * 60 * 24 * 365.25)) %></span>
                   
                        <label>Bio:</label>
                        <span class="editable bio" data-id="<%= user._id %>"
                          data-field="bio">
                        <i class="fa fa-edit edit-icon"
                          data-id="<%= user._id %>"
                          data-field="bio" aria-hidden="true"></i>
                        <%= user.local.bio %></span>


                        
                    
                  <form action="/uploadPhoto" method="POST"
                      enctype="multipart/form-data">
                      <input type="file" required name="photo" id="file"
                        class="inputfile" />
                      <input hidden name="id" value="<%= user._id %>"></input>
                    <label for="file"></label>
                    <button type="submit" class="upbtn">Upload</button>
                  </form>

                  </section>
             </div>
            <div class="topimg">
             <% if (user.local.photo) { %>
                    <img src="<%= user.local.photo %>" 
                      width="100px" height="auto">
                    <% } %>
              </div>
              </section>
                  
            </li>
          </ul>
        </div> 
      </div>
  
    


        </div>
      </div>
      <section class="childform">
        <h2>Add a Child</h2>
        <form action="/addChild" method="POST" enctype="multipart/form-data">
          
          <div class="form-group">
            <label for="exampleFormControlInput1">Name</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name="childName" placeholder="Enter your Name">
          </div>
  
          <div class="form-group">
            <label for="exampleFormControlSelect1">Date of Birth</label>
            <input type="date" class="form-control" id="exampleFormControlInput1" name="childDob">
          </div>
  
          <div class="form-group">
            <label for="exampleFormControlSelect1">Select Gender</label>
            <select class="form-control" id="exampleFormControlSelect1" name="childGender">
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="non-binary">Rather not Say</option>
            </select>
          </div>
  
          <div class="form-group">
            <label for="exampleFormControlSelect1">Allergies</label>
            <select class="form-control" id="exampleFormControlSelect1" name="childAllergies">
              <option>N/A</option>
              <option value="egg">Egg</option>
              <option value="fish">Fish</option>
              <option value="dairy">Dairy</option>
              <option value="milk">Milk</option>
              <option value="soybeans">Soybeans</option>
              <option value="dogs">Dogs</option>
              <option value="cats">Cats</option>
              <option value="nuts">Nuts</option>
              <option value="other">Other</option>
              </select >
          </div>
          
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Medications:</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="childMedications"></textarea>
          <input type="file" required name="photo" id="file"
          class="inputfile" />
        </div>
<button>Add Child</button>
              </form>
  
       
      </section>
    </section>


    <div id="message-sidebar" class="message-sidebar">
      <div class="message-header">
        <button id="close-sidebar" class="btn btn-sm">Close</button>
      </div>
      <div class="message-content">
<% if(user.local.userType=='families'){ %>

    <% for(let p=0; p<providers.length; p++){ %>
    <section class="msg-section">
    <h3 class="msgH3"><%= providers[p].local.name %></h3>
         <% for(let c=0; c<providers[p].local.clientMsgs.length; c++){ %>
          <% if(providers[p].local.clientMsgs[c].from.equals(user._id)){%>
           <% for(let m=0; m<providers[p].local.clientMsgs[c].msg.length; m++){ %>

        <p class="msgContent <%= providers[p].local.clientMsgs[c].msg[m].sent %>">
               <%= providers[p].local.clientMsgs[c].msg[m].content %></p>
             <% } %>
             <button class="showPopUp">Reply</button>

              
             <div class="popup-hidden popup-container">
               <div class="popup">
                 <h3>Reply</h3>
               
                   
                   <label for="message"></label>
                   <textarea name="happyText" class="popup-message" rows="4" required data-id="<%= providers[p]._id %>" ></textarea>
                   
                   <div class="popup-buttons">
                     <button type="button" id="cancel-button" class="cancel-button msg-btn">Cancel</button>
                     <button type="button" class="sendMsg msg-btn">Send</button>
                   </div>
                
               </div>
             </div> 

           <% } %>
         <% } %>
        </section>
       <% } %>

     <% }else{%>
      
             <% for(let c=0; c<user.local.clientMsgs.length; c++){ %>
              <% let client = clients.find(client=>client._id.equals(user.local.clientMsgs[c].from)) %>
              <section class="msg-section">
              <h3 class="msgH3"><%= client.local.name %></h3>

            
               <% for(let m=0; m<user.local.clientMsgs[c].msg.length; m++){ %>
    
            <p class="msgContent <%= user.local.clientMsgs[c].msg[m].sent %>">
                   <%= user.local.clientMsgs[c].msg[m].content %></p>abc
                 <% } %>
                 <button class="showPopUp">Reply</button>

              
                 <div  class="popup-hidden popup-container">
                   <div class="popup">
                     <h3>Reply</h3>
                     <form>
                       <!-- <label for="subject">Subject:</label>
                       <input type="text" id="subject" required> -->
                       
                       <label for="message">Message:</label>
                       <textarea name="happyText" class="popup-message" rows="4" required data-id="<%=client._id %>" ></textarea>
                       
                       <div class="popup-buttons">
                         <button type="button" id="cancel-button" class="cancel-button">Cancel</button>
                         <button type="button" class="sendMsg">Send</button>
                       </div>
                     </form>
                   </div>
                 </div> 
                </section>
             <% } %>
         
            
    <%} %>
     
      


       
      <!-- <section class="msg-section">
        <h3>Pets</h3>
        <p>Do you have any pets? My daughter is allergic to cats and dogs, but loves animals so I am searching for a provider with furless pets, like reptiles or fish. I am hoping to make her 2 week stay as comfrtable as possible and know that it would help! </p>
         </section>
         <section class="msg-section">
          <h3>Location</h3>
          <p>Do you live in Philadelphia proper? My kiddo has some school events right outside of WillowGrove that I am hoping we can find accomodations for!</p>
           </section> -->
    </div>
    </div>
    
    <button id="open-sidebar" class="btn btn-primary open-sidebar">Messages</button>
    
    <div class="children">   
      <% for(let i =0; i < user.local.children.length; i++){ %> 
        <section class="childbio">
    <section class="child">  

   

      
  
      <span class="kids"><%= user.local.children[i].name %></span>
        
        <span class="kids"><%= user.local.children[i].gender %></span>
          <span class="kids">
            Age:<%= Math.floor((new Date() - new Date(user.local.children[i].dob)) / (1000 * 60 * 60 * 24 * 365.25)) %>
          </span>
          <% if (user.local.children[i].allergies && user.local.children[i].allergies.trim() !== "" && user.local.children[i].allergies.trim().toUpperCase() !== "N/A") { %>
            <span class="kids allergies">Allergies: <%= user.local.children[i].allergies %></span>
          <% } %>
          
          <% if (user.local.children[i].medications && user.local.children[i].medications.trim() !== "" && user.local.children[i].medications.trim().toUpperCase() !== "N/A") { %>
            <span class="kids medications">Medications: <%= user.local.children[i].medications %></span>
          <% } %>
        
        </section>
        
        
        <section class="imgdivchild">
  
        <img class="chldimg" src="<%= user.local.children[i].photo%>" alt="Uploaded photo"
          width="100px" height="auto">
 </section>
</section> 

<%}%>


     

    </main>
    <footer class="footer">
			<ul class="footernav">
        <a href="/aboutUs#about">Our Mission</a>
				<a href="/aboutUs#faq">FAQ</a>
				<a href="/aboutUs#contact">Contact Us</a>
			</ul>
 
      
			<section>
				<p>&copy; 2024 Fostered Care. All rights reserved.</p>
			</section>
		</footer>
   
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/js/socket.io.min.js"></script>
  <script type="text/javascript" src="/js/socketio.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script src="js/main.js"></script>

  </body>
</html>
