<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Providers</title>
        <link rel="stylesheet" href="css/providers.css">
       
        <link rel="stylesheet"
            href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
        <link rel="stylesheet"
            href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
        <link rel="stylesheet" href="fontawesome-free-6.6.0-desktop/svgs/">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Delicious+Handrawn&family=Mrs+Saint+Delafield&family=Notable&family=PT+Sans&family=Playfair+Display&family=Smooch&family=Wendy+One&display=swap"
            rel="stylesheet">
    </head>
    <body>
        <header>
            <section class="headernav">
                <div class="back">
                    <a onclick="goBack()" href="/logout"
                        class="btn btn-default btn-sm">Go Back</a>
                </div>
                <div class="out">
                    <a href="/profile"
                        class="btn btn-default btn-sm">Profile</a>

                </div>
            </section>

        </header>

        <main class="main">
            <h1 id="h1">Welcome to the Families Page!</h1>
            <h3>Find the perfect family to foster!</h3>

            <div class="menu"
          >
                <% for(var i=0; i<users.length; i++){ %>
                    <div class="row1">
                        <div class="drow1">
                            <section section class="srow1">
                                <h1 class="name"><a
                                        href="/singleListing/<%= users[i]._id %>"><%=
                                        users[i].local.name %></a></h1>

                                <% if (users[i].userType === 'families') { %>

                                <p><%= users[i].providers %></p>
                                <% } else { %>

                                <p><%= users[i].families %></p>
                                <% } %>

                                <img class="listimg"
                                    src="<%= users[i].local.photo %>"
                                    alt="Uploaded photo" width="100px"
                                    height="auto">

                            </section>
                            <section>
 
                            </section>

                        </div>
                     

                        </form>

                        <% if (users[i].photo) { %>
                        <img src="<%= users[i].local.photo %>"
                            alt="Uploaded photo"
                            width="100px" height="auto">
                        <% } %>
                    </div>
                    <% } %>
                </div>

         
            </div>
        </main>

        <footer class="footer">
            <ul class="footernav">
                <a href="/aboutUs#about">Our Mission</a>
				<a href="/aboutUs#faq">FAQ</a>
				<a href="/aboutUs#contact">Contact Us</a>
            </ul>
            <section>
                <p>&copy; 2024 Fostered Care. All rights reserved.</p>
            </section>

        </footer>
        <script src="js/main.js"></script>
        <script src="https://kit.fontawesome.com/70c4a4bd4a.js"
            crossorigin="anonymous"></script>

    </body>
</html>
